* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
}

/*header styles*/
header {
    padding: auto;
    background-color: #808080;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;    
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/*header styles end*/

/*section styles*/
section {
    padding: 60px;
}
/*hero style*/
.hero {
    background-image: url('../images/hero_background.jfif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-cta {
    font-size: 30px;
    color: #87cee8;
}
/*end hero*/
